@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source "../views";
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Urbanist', sans-serif;
}


/* public/fonts/Urbanist/Urbanist-*.ttf */
@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Italic variants */
@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('/fonts/Urbanist/Urbanist-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

.font-thin      { font-family: 'Urbanist', sans-serif; font-weight: 100; }
.font-extralight{ font-family: 'Urbanist', sans-serif; font-weight: 200; }
.font-light     { font-family: 'Urbanist', sans-serif; font-weight: 300; }
.font-normal    { font-family: 'Urbanist', sans-serif; font-weight: 400; }
.font-medium    { font-family: 'Urbanist', sans-serif; font-weight: 500; }
.font-semibold  { font-family: 'Urbanist', sans-serif; font-weight: 600; }
.font-bold      { font-family: 'Urbanist', sans-serif; font-weight: 700; }
.font-extrabold { font-family: 'Urbanist', sans-serif; font-weight: 800; }
.font-black     { font-family: 'Urbanist', sans-serif; font-weight: 900; }


.scrollbar-hidden{
    -ms-overflow-style: none;
    scrollbar-width: none;
}