@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@source "../views";
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Urbanist', sans-serif;
}

* {
    font-family: 'Urbanist',monospace , sans-serif;
    /* font-family: 'Urbanist', sans-serif; */
}


.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}


.scrollbar-hidden{
    -ms-overflow-style: none;
    scrollbar-width: none;
}